# Archivos de configuración y compilación
.gradle/
.idea/
*.iml
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Archivos del sistema
.DS_Store
*.log

# Archivos de Android Studio
*.apk
*.ap_
